APP_NAME=Sistema Inteligente de Separacao Logistica
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1
ENVIRONMENT=development
DEBUG=false

QR_VERSION=1
QR_BOX_SIZE=10
QR_BORDER=4
QR_FILL_COLOR=black
QR_BACK_COLOR=white

MAX_UPLOAD_SIZE_MB=5
ALLOWED_IMAGE_CONTENT_TYPES=["image/png","image/jpeg","image/jpg","image/webp"]